.afterLoginModal {/* Rectangle */

    position: absolute;
    left: 7.36%;
    right: 65.56%;
    top: 8.36%;
    bottom: 75.11%;
    
    background: #007AB7;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.488309);
    border-radius: 18px;
    }